body{
    font-family:Montserrat,sans-serif;
    background:#f5f9ff;
    padding:3rem;
}

h1{
    text-align:center;
    color:#0071f1;
    margin-bottom:3rem;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
}

th{
    background:#0071f1;
    color:white;
}

th,td{
    padding:1rem;
    border:1px solid #ddd;
    text-align:center;
}

tr:hover{
    background:#f0f7ff;
}

.back-btn{
    display:block;
    width:250px;
    margin:3rem auto;
    text-align:center;
    text-decoration:none;
    background:#0071f1;
    color:white;
    padding:1rem;
    border-radius:50px;
}

@media (max-width:768px){

    body{

        padding:1rem;
    }

    table{

        display:block;

        overflow-x:auto;

        white-space:nowrap;
    }
}